.topbar{
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    height: 80px;
    border-bottom: 1px solid var(--clr-primary-1);
    z-index: 10;
    display: flex!important;
}
.adminHeader{
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.adminHeader .logo{
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}

.adminHeader .adminPages{
    width: 2200px;
    height: 60px;
    align-items: center;
    padding-left: 40px;
    font-size: 14px;
    font-weight: normal;
}

.adminHeader .adminPages ul{
    display: flex;
}

.adminHeader .adminPages li a{
    color: var(--clr-dark);
    text-transform: uppercase;
    position: relative;
    padding-left: 50px;
    top: 20px;
}

.adminHeader .adminPages li a:hover,
.adminHeader .adminPages li a:focus{
    color: var(--clr-primary-1);
    transition: all var(--transition-duration) ease 0s;
}

.adminHeader .adminBox{
    border-left: 1px solid var(--clr-primary-1);
    display: flex;
    align-items: center;
    width: 600px;
    height: 60px;
    padding-left: 20px;
}

.adminHeader .adminBox .adminInformation{
    display: flex;
}

.adminHeader .adminBox .adminInformation .adminPicture img{
    border-radius: 50%;
    width: 50px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.adminHeader .adminBox .adminInformation .admin-info{
    color: var(--clr-dark);
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
    margin-top: 12px;
}

.adminHeader .adminBox .logout{
    padding-left: 55px;
    padding-top: 18px;
    display: flex;
    width: 130px;
    height: 60px;
}

.adminHeader .adminBox .logout span{
    margin-top: -3px;
}

.adminHeader .adminBox .logout a{
    color: var(--clr-primary-1);
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
    margin-top: -7px;
}

.adminHeader .adminBox .logout a:hover{
    color: var(--clr-dark);
    transition: all var(--transition-duration) ease 0s;
}