.App{
    width: 100%;
    height: 100%;
    
}
body{
    margin: 0;
    padding: 0;
}
.sidebar{
    float: left;
    background-color:rgb(245, 247, 250);
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    flex: 0 0 230px;
    width: 300px;
    max-width: 300px;
    padding: 100px 40px;
    
  }
  .catagories .title{
    color: rgb(8, 8, 10);
    padding-right: 50px;
    margin-left: 5px;
    margin-top: -50px;
  
  } 
  .catagories .brands{
    color: rgb(8, 8, 10);
    padding-right: 50px;
    margin-left: 5px;
  }
  
  .sidebarList .row {
    color: gray;
    padding: 20px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: large;
  }
  
  .sidebarList .row:hover{
    color: #ffc107;
    cursor: pointer;
  }
  
  .catagories #active{
    color: #ffc107;
  }
  .brand{
    color: gray;
    margin-top: 15px;
    margin-left: 5px;
    font-size: large;

  }
  .brand .check{
    padding: 20px;
  }
  
  .styleOfCard{
    display: flex;
    justify-content: flex-end;
  }


  .card{
    margin-bottom: 40px;
    border: none;
    display: flex;
  }
  .card-price{
    position: relative;
    color: #ffc107;
  }
  .card-price::before{
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background-color: #ffc107;
  }


  .product-topbar{
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
  }
  .total-products{
    margin-bottom: 30px;
  }
  .product-sorting , .view {
    display: flex !important;
  }
  .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased;
  }
  .sort-by-date{
    margin-right: 20px;
  }

  .btn-success{
    color: #959595;
    background-color: rgb(245, 247, 250);
    border-color: rgb(245, 247, 250);
  }

  .btn-primary{
    background-color: rgb(245, 247, 250);
    color: black;
    border-color: rgb(245, 247, 250);
  }
.card-body{
  justify-content: space-between;
}
.dropdown button:hover{
  background-color: #ffc107;
  border: none;
}
.btn-group button:hover{
  background-color: #ffc107;
  border: none;
}
