.confirmation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(100% - 320px);
    width: calc(100% - 3200px);
    max-width: calc(100% - 320px);
    padding: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-page h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .confirmation-page table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  .confirmation-page table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .confirmation-page table td.label {
    font-weight: bold;
  }
  
  .confirmation-page .total-sum {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
  }
@media only screen and (min-width: 768px) and (max-width: 991px){
    .confirmation-page{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 280px);
      flex: 0 0 calc(100% - 280px);
      width: calc(100% - 280px);
      max-width: calc(100% - 280px);
    }
}
@media only screen and (max-width: 767px){
  .confirmation-page{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%

  }
}