                                
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


main.registration-wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    background: linear-gradient(to top, var(--background-color) 5%, var(--clr-grey-9) 100%) no-repeat
}
.login-wrapper {
    padding-top: 2.5rem;
}
.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn.btn-primary {
    margin-top: 40px !important;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    background-color: var(--background-color);
}
.panel-body .form-group{
    margin: 0 !important;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    color: #4343ff
}


input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
}

.fa-eye-slash.btn {
    outline: none;
    box-shadow: none
}
.ToSignUp{
    padding-left: 5px;
}

.login-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    transform: translateX(-50%);
    left: 51%;
    background-color: var(--background-color);
    padding: 0px 8px
}

.form-group p.error{
    color: red;
    text-transform: capitalize;
    margin: 0;
    height: 25px;
    
}

.btn-primary:disabled{
    cursor:no-drop;
}

.back-home{
    background-color: hsl(43deg 97% 52% / 68%);
    color: black;
    border: none;
}
.back-home:hover,.back-home:active{
    background-color: var(--clr-primary-1);
}
.back-home:active,.back-home:focus{
    box-shadow:0 0 0 0.2rem #FFEB3B;
}
@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}